:root {
  --color-brand-base: #297763;
  --color-primary-light: #a9e0d4;
  --color-primary-bright: #2cb798;
  --color-primary-base: #297763;
  --color-primary-dark: #265851;
  --color-primary-darker: #274540;
  --color-secondary-light: #fff5dc;
  --color-secondary-bright: #dce15f;
  --color-secondary-base: #dfac00;
  --color-secondary-dark: #937000;
  --color-tertiary-light: #ff8f8f;
  --color-tertiary-base: #ff4141;
  --color-tertiary-dark: #962a2a;
  --color-greyscale-xlight: #fff;
  --color-greyscale-lighter: #f8f8f8;
  --color-greyscale-light: #f3f3f3;
  --color-greyscale-mid: #e5e5e5;
  --color-greyscale-mid-dark: #a5a5a5;
  --color-greyscale-base: #7e8c89;
  --color-greyscale-dark: #454d4b;
  --color-greyscale-darkest: #212529;
  --color-social-base: #fff;
  --color-social-facebook: #365899;
  --color-social-twitter: #54acee;
  --color-social-linkedin: #0077b5;
  --color-social-whatsapp: #00e676;
  --color-social-xing: #007776;
  --color-positive-light: var(--color-primary-light);
  --color-positive-base: var(--color-primary-base);
  --color-positive-dark: var(--color-primary-dark);
  --color-negative-light: var(--color-tertiary-light);
  --color-negative-base: var(--color-tertiary-base);
  --color-negative-dark: var(--color-tertiary-dark);
  --color-warning-light: var(--color-secondary-light);
  --color-warning-base: var(--color-secondary-base);
  --color-warning-dark: var(--color-secondary-dark);
  --color-green-1: #2e7763;
  --color-green-2: #48be9d;
  --color-yellow: #f8c300;
  --color-red: #d02826;
  --color-red-2: #962a2a;
  --color-blue: #4577ce;
  --color-white: #fff;
  --color-grey: #4a4a4a;
  --body-text-color: var(--color-grey);
  --body-background-color: var(--color-white);
  --links-color: var(--color-primary-bright);
  --links-color-hover: var(--color-primary-bright);
  --color-focus: #228ae6;
  --font-main: 'Open Sans', sans-serif;
  --font-base-line-height: 1.4;
  --font-thin: 300;
  --font-normal: 400;
  --font-thick: 600;
  --font-thicker: 700;
  --typography-thin: var(--font-thin);
  --typography-bold: var(--font-thicker);
  --font-size-xs: 0.75em;
  --font-size-s: 0.875em;
  --font-size-m: 1em;
  --font-size-l: 1.125em;
  --font-size-xl: 1.313em;
  --font-size-xxl: 1.5em;
  --font-size-xxxl: 1.75em;
  --font-size-xxxxl: 3em;
  --form-focus-background: var(--color-secondary-light);
  --dashboard-sidebar-background: var(--color-greyscale-xlight);
  --dashboard-sidebar-text: var(--color-greyscale-dark);
  --dashboard-sidebar-text-light: var(--color-greyscale-base);
  --dashboard-sidebar-user-links: var(--color-greyscale-base);
  --dashboard-sidebar-user-links-hover-bg: var(--color-greyscale-mid);
  --dashboard-sidebar-user-links-hover-color: var(--color-greyscale-darkest);
  --header-background-start: #dce15f;
  --header-background-end: #297763;
  --header-links-color: var(--color-greyscale-xlight);
  --header-submenu-background: var(--color-greyscale-xlight);
  --header-submenu-links: var(--color-greyscale-base);
  --header-submenu-links-hover: var(--color-greyscale-darkest);
  --header-submenu-link-hover-background: var(--color-greyscale-mid);
  --header-submenu-divider: var(--color-greyscale-mid);
  --animation-fast: 250ms;
  --animation-mid: 500ms;
  --animation-slow: 850ms;
  --ui-border-radius: 0.25em;
  --ui-divider-color: var(--color-greyscale-mid);
  --status-notification-neutral-background: var(--color-white);
  --status-notification-neutral-border: var(--color-greyscale-dark);
  --status-notification-neutral-color: var(--color-greyscale-darkest);
  --status-notification-positive-border: var(--color-positive-base);
  --status-notification-positive-color: var(--color-greyscale-xlight);
  --status-notification-positive-background: var(--color-positive-base);
  --status-notification-negative-border: var(--color-negative-base);
  --status-notification-negative-color: var(--color-greyscale-xlight);
  --status-notification-negative-background: var(--color-negative-base);
  --status-notification-warning-border: var(--color-warning-base);
  --status-notification-warning-color: var(--color-greyscale-xlight);
  --status-notification-warning-background: var(--color-warning-base);
  --cards-background: var(--color-greyscale-xlight);
  --card-text-color: var(--color-greyscale-dark);
  --card-text-light-color: var(--color-greyscale-mid-dark);
  --cards-title-color: var(--color-brand-base);
  --cards-divider-border: var(--color-greyscale-mid);
  --cards-sidebar-title-color: var(--color-greyscale-dark);
  --cards-sidebar-subtitle-color: var(--color-greyscale-mid-dark);
  --card-sidebar-border-top-color: var(--color-brand-base);
  --tag-border-color: transparent;
  --tag-border-color-hover: transparent;
  --tag-color: var(--color-greyscale-base);
  --tag-color-hover: var(--links-color-hover);
  --breadcrumb-color: var(--color-greyscale-base);
  --button-default-background: var(--color-greyscale-xlight);
  --button-default-color: var(--links-color);
  --button-default-background-hover: var(--color-greyscale-xlight);
  --button-default-color-hover: var(--links-color-hover);
  --button-default-border: var(--color-greyscale-xlight);
  --button-default-border-hover: var(--color-greyscale-xlight);
  --button-positive-background: var(--color-primary-dark);
  --button-positive-color: var(--color-greyscale-xlight);
  --button-positive-background-hover: var(--color-greyscale-xlight);
  --button-positive-color-hover: var(--color-positive-dark);
  --button-positive-border: var(--color-positive-base);
  --button-positive-border-hover: var(--color-positive-base);
  --button-cancel-background: transparent;
  --button-cancel-color: var(--color-primary-dark);
  --button-cancel-background-hover: var(--color-greyscale-xlight);
  --button-cancel-color-hover: var(--color-primary-dark);
  --button-cancel-border: var(--color-primary-dark);
  --button-cancel-border-hover: var(--color-primary-dark);
  --button-negative-background: var(--color-negative-base);
  --button-negative-color: var(--color-greyscale-xlight);
  --button-negative-background-hover: var(--color-greyscale-xlight);
  --button-negative-color-hover: var(--color-negative-base);
  --button-negative-border: var(--color-negative-base);
  --button-negative-border-hover: var(--color-negative-base);
  --button-brand-background: var(--color-brand-base);
  --button-brand-color: var(--color-greyscale-xlight);
  --button-brand-background-hover: var(--color-greyscale-xlight);
  --button-brand-color-hover: var(--color-brand-base);
  --button-brand-border: var(--color-brand-base);
  --button-brand-border-hover: var(--color-brand-base);
  --button-pill-background: var(--color-greyscale-mid);
  --button-pill-color: var(--color-greyscale-darkest);
  --button-pill-background-hover: var(--color-greyscale-xlight);
  --button-pill-color-hover: var(--color-greyscale-darkest);
  --button-pill-border: var(--color-greyscale-mid-dark);
  --button-pill-border-hover: var(--color-greyscale-mid-dark);
  --button-fave: var(--color-yellow);
  --button-fave-hover: var(--color-yellow);
  --button-bookmark: var(--color-greyscale-mid-dark);
  --button-bookmark-hover: var(--links-color-hover);
  --button-share: var(--color-greyscale-mid-dark);
  --button-share-hover: var(--links-color-hover);
  --button-border-radius: 0;
  --searchfilter-background: transparent;
  --searchfilter-color: var(--color-greyscale-xlight);
  --searchfilter-button-color: var(--color-greyscale-dark);
  --searchfilter-button-background: var(--color-greyscale-xlight);
  --label-default-background: var(--color-green-1);
  --label-default-color: var(--color-greyscale-xlight);
  --label-category-1: var(--color-green-1);
  --label-category-2: var(--color-green-2);
  --label-category-3: var(--color-yellow);
  --label-category-4: var(--color-blue);
  --label-category-5: var(--color-red);
  --label-toggle-background-on: var(--color-greyscale-mid);
  --label-toggle-background-off: var(--color-greyscale-lightest);
  --label-toggle-color: var(--color-greyscale-dark);
  --label-toggle-border: var(--color-greyscale-base);
}
