.Menu-toggle {
  @include tablet {
    display: none;
  }

  input[type='checkbox'] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 2.2rem;
    left: 1.5rem;
    height: 2.2rem;
    width: 2.2rem;

    .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 0.3rem;
      width: 100%;
      background-color: var(--color-greyscale-xlight);
    }
    .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 0.3rem;
    }
    .diagonal-part-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
    }

    .diagonal-part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 0.3rem;
    }
  }
}

input[type='checkbox']:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal-part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 0.8rem;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal-part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -0.9rem;
}
