.Notification {
  color: var(--status-notification-neutral-background);
  text-decoration: none;
  position: relative;
  display: inline-block;

  &__badge {
    position: absolute;
    bottom: 0.7rem;
    right: 1.4rem;
    border-radius: 50%;
    color: var(--status-notification-warning-border);
    font-size: 0.7rem;
    border: 0.15rem solid var(--status-notification-neutral-background);
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    color: var(--status-notification-warning-border);
  }
}
