.Password-strength-meter {
  text-align: left;
  margin-bottom: 2rem;

  &--progress {
    appearance: none;
    width: 25rem;
    height: 0.8rem;
  }

  &__label {
    font-size: 1.2rem;
  }
}

// Custom --Works for webkit
.Password-strength-meter--progress::-webkit-progress-bar {
  background-color: var(--color-greyscale-mid);
  border-radius: 0.3rem;
}

.Password-strength-meter--progress::-webkit-progress-value {
  border-radius: 0.2rem;
  background-size: 3.5rem 2rem, 100% 100%, 100% 100%;
}

.strength-Weak::-webkit-progress-value {
  background-color: var(--color-tertiary-base);
}
.strength-Fair::-webkit-progress-value {
  background-color: var(--color-secondary-base);
}
.strength-Good::-webkit-progress-value {
  background-color: var(--color-blue);
}
.strength-Strong::-webkit-progress-value {
  background-color: var(--color-primary-bright);
}
