.Tab-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--dashboard-sidebar-text);
  font-weight: bold;

  &--item {
    display: inline-block;
    width: 100%;
    text-align: center;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 3rem;
    background-color: var(--label-default-color);
    border: solid var(--label-default-color);
  }

  &--active {
    background-color: var(--color-greyscale-mid);
    border: solid var(--color-greyscale-mid);
  }
}
