.sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 28rem;
  transform: translateX(-28rem);
  transition: transform 250ms ease-in-out;
  background-color: var(--color-greyscale-light);
  @include tablet {
    position: relative;
    left: 28rem;
    height: calc(100vh - 10rem);
  }
}

.sidebarMenu.open {
  transform: translateX(0);
}

.sidebarMenuInner li {
  list-style: none;
  color: var(--dashboard-sidebar-text);
  font-weight: bold;
  padding: 2rem 2rem 2rem 8rem;
  cursor: pointer;
}
