.Footer {
  flex-basis: 1;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  padding: 1% 0 1% 40%;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}
