.User-input-tab {
  background-color: var(--dashboard-sidebar-background);
  padding: 3rem 2rem 0;
  width: 100%;

  @include tablet {
    padding: 0;
    margin-top: 1rem;
  }

  @include desktop {
    width: 55%;
  }
}
