:root {
  --color-brand-base: #297763;
  --color-primary-light: #a9e0d4;
  --color-primary-bright: #2cb798;
  --color-primary-base: #297763;
  --color-primary-dark: #265851;
  --color-primary-darker: #274540;
  --color-secondary-light: #fff5dc;
  --color-secondary-bright: #dce15f;
  --color-secondary-base: #dfac00;
  --color-secondary-dark: #937000;
  --color-tertiary-light: #ff8f8f;
  --color-tertiary-base: #ff4141;
  --color-tertiary-dark: #962a2a;
  --color-greyscale-xlight: #fff;
  --color-greyscale-lighter: #f8f8f8;
  --color-greyscale-light: #f3f3f3;
  --color-greyscale-mid: #e5e5e5;
  --color-greyscale-mid-dark: #a5a5a5;
  --color-greyscale-base: #7e8c89;
  --color-greyscale-dark: #454d4b;
  --color-greyscale-darkest: #212529;
  --color-social-base: #fff;
  --color-social-facebook: #365899;
  --color-social-twitter: #54acee;
  --color-social-linkedin: #0077b5;
  --color-social-whatsapp: #00e676;
  --color-social-xing: #007776;
  --color-positive-light: var(--color-primary-light);
  --color-positive-base: var(--color-primary-base);
  --color-positive-dark: var(--color-primary-dark);
  --color-negative-light: var(--color-tertiary-light);
  --color-negative-base: var(--color-tertiary-base);
  --color-negative-dark: var(--color-tertiary-dark);
  --color-warning-light: var(--color-secondary-light);
  --color-warning-base: var(--color-secondary-base);
  --color-warning-dark: var(--color-secondary-dark);
  --color-green-1: #2e7763;
  --color-green-2: #48be9d;
  --color-yellow: #f8c300;
  --color-red: #d02826;
  --color-red-2: #962a2a;
  --color-blue: #4577ce;
  --color-white: #fff;
  --color-grey: #4a4a4a;
  --body-text-color: var(--color-grey);
  --body-background-color: var(--color-white);
  --links-color: var(--color-primary-bright);
  --links-color-hover: var(--color-primary-bright);
  --color-focus: #228ae6;
  --font-main: 'Open Sans', sans-serif;
  --font-base-line-height: 1.4;
  --font-thin: 300;
  --font-normal: 400;
  --font-thick: 600;
  --font-thicker: 700;
  --typography-thin: var(--font-thin);
  --typography-bold: var(--font-thicker);
  --font-size-xs: 0.75em;
  --font-size-s: 0.875em;
  --font-size-m: 1em;
  --font-size-l: 1.125em;
  --font-size-xl: 1.313em;
  --font-size-xxl: 1.5em;
  --font-size-xxxl: 1.75em;
  --font-size-xxxxl: 3em;
  --form-focus-background: var(--color-secondary-light);
  --dashboard-sidebar-background: var(--color-greyscale-xlight);
  --dashboard-sidebar-text: var(--color-greyscale-dark);
  --dashboard-sidebar-text-light: var(--color-greyscale-base);
  --dashboard-sidebar-user-links: var(--color-greyscale-base);
  --dashboard-sidebar-user-links-hover-bg: var(--color-greyscale-mid);
  --dashboard-sidebar-user-links-hover-color: var(--color-greyscale-darkest);
  --header-background-start: #dce15f;
  --header-background-end: #297763;
  --header-links-color: var(--color-greyscale-xlight);
  --header-submenu-background: var(--color-greyscale-xlight);
  --header-submenu-links: var(--color-greyscale-base);
  --header-submenu-links-hover: var(--color-greyscale-darkest);
  --header-submenu-link-hover-background: var(--color-greyscale-mid);
  --header-submenu-divider: var(--color-greyscale-mid);
  --animation-fast: 250ms;
  --animation-mid: 500ms;
  --animation-slow: 850ms;
  --ui-border-radius: 0.25em;
  --ui-divider-color: var(--color-greyscale-mid);
  --status-notification-neutral-background: var(--color-white);
  --status-notification-neutral-border: var(--color-greyscale-dark);
  --status-notification-neutral-color: var(--color-greyscale-darkest);
  --status-notification-positive-border: var(--color-positive-base);
  --status-notification-positive-color: var(--color-greyscale-xlight);
  --status-notification-positive-background: var(--color-positive-base);
  --status-notification-negative-border: var(--color-negative-base);
  --status-notification-negative-color: var(--color-greyscale-xlight);
  --status-notification-negative-background: var(--color-negative-base);
  --status-notification-warning-border: var(--color-warning-base);
  --status-notification-warning-color: var(--color-greyscale-xlight);
  --status-notification-warning-background: var(--color-warning-base);
  --cards-background: var(--color-greyscale-xlight);
  --card-text-color: var(--color-greyscale-dark);
  --card-text-light-color: var(--color-greyscale-mid-dark);
  --cards-title-color: var(--color-brand-base);
  --cards-divider-border: var(--color-greyscale-mid);
  --cards-sidebar-title-color: var(--color-greyscale-dark);
  --cards-sidebar-subtitle-color: var(--color-greyscale-mid-dark);
  --card-sidebar-border-top-color: var(--color-brand-base);
  --tag-border-color: transparent;
  --tag-border-color-hover: transparent;
  --tag-color: var(--color-greyscale-base);
  --tag-color-hover: var(--links-color-hover);
  --breadcrumb-color: var(--color-greyscale-base);
  --button-default-background: var(--color-greyscale-xlight);
  --button-default-color: var(--links-color);
  --button-default-background-hover: var(--color-greyscale-xlight);
  --button-default-color-hover: var(--links-color-hover);
  --button-default-border: var(--color-greyscale-xlight);
  --button-default-border-hover: var(--color-greyscale-xlight);
  --button-positive-background: var(--color-primary-dark);
  --button-positive-color: var(--color-greyscale-xlight);
  --button-positive-background-hover: var(--color-greyscale-xlight);
  --button-positive-color-hover: var(--color-positive-dark);
  --button-positive-border: var(--color-positive-base);
  --button-positive-border-hover: var(--color-positive-base);
  --button-cancel-background: transparent;
  --button-cancel-color: var(--color-primary-dark);
  --button-cancel-background-hover: var(--color-greyscale-xlight);
  --button-cancel-color-hover: var(--color-primary-dark);
  --button-cancel-border: var(--color-primary-dark);
  --button-cancel-border-hover: var(--color-primary-dark);
  --button-negative-background: var(--color-negative-base);
  --button-negative-color: var(--color-greyscale-xlight);
  --button-negative-background-hover: var(--color-greyscale-xlight);
  --button-negative-color-hover: var(--color-negative-base);
  --button-negative-border: var(--color-negative-base);
  --button-negative-border-hover: var(--color-negative-base);
  --button-brand-background: var(--color-brand-base);
  --button-brand-color: var(--color-greyscale-xlight);
  --button-brand-background-hover: var(--color-greyscale-xlight);
  --button-brand-color-hover: var(--color-brand-base);
  --button-brand-border: var(--color-brand-base);
  --button-brand-border-hover: var(--color-brand-base);
  --button-pill-background: var(--color-greyscale-mid);
  --button-pill-color: var(--color-greyscale-darkest);
  --button-pill-background-hover: var(--color-greyscale-xlight);
  --button-pill-color-hover: var(--color-greyscale-darkest);
  --button-pill-border: var(--color-greyscale-mid-dark);
  --button-pill-border-hover: var(--color-greyscale-mid-dark);
  --button-fave: var(--color-yellow);
  --button-fave-hover: var(--color-yellow);
  --button-bookmark: var(--color-greyscale-mid-dark);
  --button-bookmark-hover: var(--links-color-hover);
  --button-share: var(--color-greyscale-mid-dark);
  --button-share-hover: var(--links-color-hover);
  --button-border-radius: 0;
  --searchfilter-background: transparent;
  --searchfilter-color: var(--color-greyscale-xlight);
  --searchfilter-button-color: var(--color-greyscale-dark);
  --searchfilter-button-background: var(--color-greyscale-xlight);
  --label-default-background: var(--color-green-1);
  --label-default-color: var(--color-greyscale-xlight);
  --label-category-1: var(--color-green-1);
  --label-category-2: var(--color-green-2);
  --label-category-3: var(--color-yellow);
  --label-category-4: var(--color-blue);
  --label-category-5: var(--color-red);
  --label-toggle-background-on: var(--color-greyscale-mid);
  --label-toggle-background-off: var(--color-greyscale-lightest);
  --label-toggle-color: var(--color-greyscale-dark);
  --label-toggle-border: var(--color-greyscale-base);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--body-text-color);
  font-family: var(--font-main);
  font-size: 1.5rem;
  line-height: var(--font-base-line-height);
}

hr {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 1.4rem;
}

.fa {
  margin-right: 1rem;
}

.App {
  position: relative;
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 700px) {
  .App {
    background-color: var(--color-greyscale-light);
  }
}

.site-header {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, var(--header-background-start)), to(var(--header-background-end)));
  background: linear-gradient(90deg, var(--header-background-start) 4%, var(--header-background-end));
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 700px) {
  .site-header {
    height: 7rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.site-header .Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header .Header__logo {
  margin-top: 0.8rem;
}

.site-header .Header__logo img {
  width: 200px;
}

.site-header .main-navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  padding: 1% 0 1% 40%;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.User {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 3rem;
}

@media (min-width: 700px) {
  .User {
    margin: 5rem;
  }
}

@media (min-width: 1024px) {
  .User {
    margin: 5rem 7rem;
  }
}

.sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 28rem;
  -webkit-transform: translateX(-28rem);
          transform: translateX(-28rem);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background-color: var(--color-greyscale-light);
}

@media (min-width: 700px) {
  .sidebarMenu {
    position: relative;
    left: 28rem;
    height: calc(100vh - 10rem);
  }
}

.sidebarMenu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sidebarMenuInner li {
  list-style: none;
  color: var(--dashboard-sidebar-text);
  font-weight: bold;
  padding: 2rem 2rem 2rem 8rem;
  cursor: pointer;
}

.User-input-tab {
  background-color: var(--dashboard-sidebar-background);
  padding: 3rem 2rem 0;
  width: 100%;
}

@media (min-width: 700px) {
  .User-input-tab {
    padding: 0;
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .User-input-tab {
    width: 55%;
  }
}

.Notification {
  color: var(--status-notification-neutral-background);
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.Notification__badge {
  position: absolute;
  bottom: 0.7rem;
  right: 1.4rem;
  border-radius: 50%;
  color: var(--status-notification-warning-border);
  font-size: 0.7rem;
  border: 0.15rem solid var(--status-notification-neutral-background);
}

.Notification:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--status-notification-warning-border);
}

@media (min-width: 700px) {
  .Menu-toggle {
    display: none;
  }
}

.Menu-toggle input[type='checkbox'] {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.Menu-toggle .sidebarIconToggle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 2.2rem;
  left: 1.5rem;
  height: 2.2rem;
  width: 2.2rem;
}

.Menu-toggle .sidebarIconToggle .spinner {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 0.3rem;
  width: 100%;
  background-color: var(--color-greyscale-xlight);
}

.Menu-toggle .sidebarIconToggle .horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 0.3rem;
}

.Menu-toggle .sidebarIconToggle .diagonal-part-1 {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

.Menu-toggle .sidebarIconToggle .diagonal-part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 0.3rem;
}

input[type='checkbox']:checked ~ .sidebarIconToggle > .horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
}

input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal-part-1 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 0.8rem;
}

input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal-part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: -0.9rem;
}

.Tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: var(--dashboard-sidebar-text);
  font-weight: bold;
}

.Tab-list--item {
  display: inline-block;
  width: 100%;
  text-align: center;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 3rem;
  background-color: var(--label-default-color);
  border: solid var(--label-default-color);
}

.Tab-list--active {
  background-color: var(--color-greyscale-mid);
  border: solid var(--color-greyscale-mid);
}

.Button-With-Label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Button-With-Label button {
  font-size: var(--font-size-m);
  line-height: var(--font-base-line-height);
}

.Button-With-Label button:hover {
  background: var(--button-positive-border);
  color: var(--button-default-background-hover);
}

.Button {
  border-radius: var(--button-border-radius);
  cursor: pointer;
  display: block;
}

.Button__outline {
  background: var(--button-positive-background);
  border: 1px solid var(--button-positive-border);
  min-width: 6.25em;
  padding: 0.625em 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  color: var(--color-greyscale-dark);
}

.Input-Field label {
  display: block;
  margin-bottom: 1.5em;
}

.Input-Field label .label-text {
  color: var(--color-greyscale-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: text;
  margin-bottom: 1em;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: var(--font-thick);
  font-size: var(--font-size-m);
}

.Input-Field input {
  background-color: var(--color-greyscale-light);
  border: 0;
  border-bottom: 2px solid var(--color-greyscale-base);
  letter-spacing: -1px;
  outline: 0;
  padding: 0.5em;
  width: 100%;
  color: var(--color-greyscale-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: var(--font-size-l);
  line-height: var(--font-base-line-height);
}

.Input-Field .invalid-field {
  border-color: var(--color-tertiary-base);
}

.Input-Field .validation-error {
  bottom: -20px;
  color: var(--color-tertiary-base);
  display: block;
  left: 0;
  font-size: var(--font-size-s);
  line-height: var(--font-base-line-height);
}

.Select label {
  display: block;
  margin-bottom: 1.5em;
}

.Select label .label-text {
  color: var(--color-greyscale-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: text;
  margin-bottom: 1em;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: var(--font-thick);
  font-size: var(--font-size-m);
}

.Select select {
  background-color: var(--color-greyscale-light);
  border: 0;
  border-bottom: 2px solid var(--color-greyscale-base);
  letter-spacing: -1px;
  outline: 0;
  padding: 0.5em;
  width: 100%;
  color: var(--color-greyscale-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: var(--font-size-l);
  line-height: var(--font-base-line-height);
}

.Select .validation-error {
  bottom: -20px;
  color: var(--color-tertiary-base);
  display: block;
  left: 0;
  font-size: var(--font-size-s);
  line-height: var(--font-base-line-height);
}

.Select .invalid-field {
  border-color: var(--color-tertiary-base);
}

.Text-Area label {
  display: block;
  margin-bottom: 1.5em;
}

.Text-Area label .label-text {
  color: var(--color-greyscale-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: text;
  margin-bottom: 1em;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: var(--font-thick);
  font-size: var(--font-size-m);
}

.Text-Area textarea {
  background-color: var(--color-greyscale-light);
  border: 0;
  border-bottom: 2px solid var(--color-greyscale-base);
  letter-spacing: -1px;
  outline: 0;
  padding: 0.5em;
  width: 100%;
  color: var(--color-greyscale-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: var(--font-size-l);
  line-height: var(--font-base-line-height);
}

.Text-Area .validation-error {
  bottom: -20px;
  color: var(--color-tertiary-base);
  display: block;
  left: 0;
  font-size: var(--font-size-s);
  line-height: var(--font-base-line-height);
}

.Text-Area .invalid-field {
  border-color: var(--color-tertiary-base);
}

.Password-strength-meter {
  text-align: left;
  margin-bottom: 2rem;
}

.Password-strength-meter--progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 25rem;
  height: 0.8rem;
}

.Password-strength-meter__label {
  font-size: 1.2rem;
}

.Password-strength-meter--progress::-webkit-progress-bar {
  background-color: var(--color-greyscale-mid);
  border-radius: 0.3rem;
}

.Password-strength-meter--progress::-webkit-progress-value {
  border-radius: 0.2rem;
  background-size: 3.5rem 2rem, 100% 100%, 100% 100%;
}

.strength-Weak::-webkit-progress-value {
  background-color: var(--color-tertiary-base);
}

.strength-Fair::-webkit-progress-value {
  background-color: var(--color-secondary-base);
}

.strength-Good::-webkit-progress-value {
  background-color: var(--color-blue);
}

.strength-Strong::-webkit-progress-value {
  background-color: var(--color-primary-bright);
}

.Success {
  margin-top: 4em;
}

@media (min-width: 700px) {
  .Success {
    margin: 2rem;
  }
}

.Success__title {
  padding: 0 2rem;
}

.Success__info {
  padding: 2rem;
  margin-bottom: 4rem;
  font-size: var(--font-size-l);
}

.Success .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.Main-info {
  margin-top: 2em;
}

@media (min-width: 700px) {
  .Main-info {
    margin: 2rem;
  }
}

.Main-info .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.Confirm {
  color: var(--color-greyscale-dark);
  padding: 0 1rem;
}

@media (min-width: 700px) {
  .Confirm {
    margin: 2rem;
    padding: 0 2rem;
  }
}

.Confirm .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  margin: 2rem 0;
}

.Confirm__title {
  margin: 1em 0;
  font-size: var(--font-size-m);
}

.Confirm__list {
  font-weight: var(--font-thick);
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  margin: 2em 0;
}

.Confirm__list .entry {
  background-color: var(--color-greyscale-light);
  font-weight: normal;
  text-transform: none;
  font-size: var(--font-size-xl);
  line-height: var(--font-base-line-height);
}

.Confirm__invalid-field {
  color: var(--color-tertiary-base);
}

.Additional-info {
  margin-top: 2em;
}

@media (min-width: 700px) {
  .Additional-info {
    margin: 2rem;
  }
}

.Additional-info .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
/*# sourceMappingURL=App.css.map */